.app {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.header {
  background-color: rgb(228, 237, 240);
  justify-content: space-between;
}

.nav {
  background-color: darkcyan;
  justify-content: space-around;
  font-style: italic;
  color: azure;
}

.header,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.content {
  height: calc(100% - 100px);
}
