.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  }

.button {
  display: block;
  padding-left: 10px;
  padding-top: 15px;
  height: auto;
  width: auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}