.header {
  background-color: rgb(135, 204, 204);
  padding: 0 10px;
  height: 60px;
 
}
.nav {
  justify-content: space-between;
  font-style: italic;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.startPage {
  justify-content: end;
  padding-right: 30px;
}

.nav a {
  display: flex;
  align-items: center;
  color: azure;
}

.orders {
  display: flex;
  height: 100%
}

.home,
.shop,
.story,
.about,
.news {
  display: block;
  width: 100px;
  text-align: center;
  color: aliceblue;
}

.user {
  display: flex;
  align-items: center;
}

.shop {
  color: black;
}

.routes {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.login {
  display: flex;
  padding: 5px;
  height: 100%;
  width: 100px;
  font-size: large;
  color: blue;
}

.login:hover {
  color: blueviolet;
}

a:hover {
  color: rgb(33, 7, 58);
}
